/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.hera-navbar {
  top: 70px;
  right: 0;
  position: fixed;
  justify-content: space-between;
  height: 200px;
  width: 250px;
  display: flex;
  flex-direction: column;
  padding: 2%;
  z-index: 100;
  background-color: #333333;
  color: white;
}

.hera-navbar img {
  object-fit: contain;
  margin: -65px 0 -25px 0;
}
.hera-navbar a {
  color: white;
}

#hera-edit-button {
  padding: 8px 16px;
  transition: background 0.3s ease;
  background-color: #EE5F5B;
  font-size: 0.9em;
  font-weight: bold;
  text-align: center;
  border-radius: 3px;
  border-width: 0px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.hera-edit-button-on {
  background-color: #f1cf00 !important;
}


.hera-background-layer{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.7);
  pointer-events: none;
  z-index: 3;
  transition: .5s;
}

.hera-clickable {
  pointer-events: all;
}

.hera-editable {
  position: relative;
  z-index: 1;
}

.hera-highlight-layer{
  position: relative;
  z-index: 6;
  background: $body-bg;
  transition: .5s;
  border-radius: 3px;
  cursor: pointer;
  color: black !important;
}

.hera-edit-icon {
  color: red;
  position: absolute;
  left: 0;
  bottom: 0;
}

.hera-form-destroy {
  color: $white;
  font-size: 1.2em;
  padding: 0px 16px;
  transition: .5s;
  background-color: black;
}
.hera-form-destroy:hover{
  color: $red;
  transition: .5s;
  cursor: pointer;
}

.hera-editable-wrapper{
  position: relative;
  border-radius: 8px;
}





.hera-form-box {
  position: absolute;
  background: $body-bg;
  width: 300px !important;
  height: 300px;
  z-index: 6;
  padding: 8px !important;
  border-radius: 3px;
  top: 50%;
  left: 50%;
  font-size: 20px !important;
  font-weight: normal !important;
  border: 1px solid black;
}

.hera-form-box form {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.hera-form-box textarea {
  flex: 1 0 auto;
}
.hera-form-box input {
  flex: 1 0 auto;
}
.hera-form-box input:last-of-type{
  flex: 0 1 auto;
  font-family: $body-font !important;
  font-size: 1rem !important;
}
.hera-form-box .form-destroy {
  position: absolute;
  top: -24px;
  right: 0;
  font-size: 1rem;
}
