<%= stylesheet_link_tag 'hera_cms/application', media: 'all' %>

<div class="hera-navbar">
  <%= image_tag("hera_cms/hera_white.png") %>
  <div class="margin-auto-center">
    Modo Edição:
    <button id="hera-edit-button" data-mode="view">Off</button>
  </div>
</div>

<%= javascript_tag do %>
  <%= render(partial: 'hera_cms/shared/hera_edit', handlers: [], formats: [:js]) %>
<% end %>
