<%= javascript_tag do %>
  const railsFormHTML = () => {
    return `
    <%= form_tag do %>
    <% end %>
    `;
  }
<% end %>

<div class="hera-navbar">
  <%= image_tag("hera_cms/hera_white.png") %>
  <div class="margin-auto-center">
    Modo Edição:
    <button id="hera-edit-button" data-mode="view">Off</button>
  </div>
</div>
