<%= stylesheet_link_tag    'hera_cms/application', media: 'all' %>


<h1>Hello Hera CMS Engine</h1>
<%= render 'hera_cms/shared/navbar' %>



<%= javascript_include_tag "hera_cms/application" %>


<%= hera_link "my-link" %>
